body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
}

a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  word-wrap:break-word;
  width: 300px;
}

a:visited{
  text-decoration: none;
}

